<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Todo App</title>
</head>
<body>
<h1>Todo App</h1>
<form method="post" action="/addTodo">
  <input type="text" name="todo" />
  <input type="submit" value="Add todo" />
</form>
<hr>
<ul>
  <li th:each="todo : ${todos}">
    <span th:text="${todo.todo}"></span>
    <!--delete버튼을 만들고 id를 넘겨주는 형식-->
    <form th:action="@{/delete/{id}(id=${todo.id})}" method="post" style="display: inline;">
      <input type="hidden" name="_method" value="DELETE" />
      <button type="submit">Delete</button>
    </form>
  </li>
</ul>
</body>
</html>